<section class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center p-4">
        <p class="text-2xl mb-5 font-semibold text-blue-950">With Awesome <span class="bg-gradient-to-r from-red-600 to-orange-600 text-transparent bg-clip-text">Features</span></p>
        <p class="text-gray-500">NgUI comes with a lot of awesome features</p>
    </div>
    <div class="p-4 grid gap-4 place-content-center md:grid-cols-2 lg:grid-cols-3">
        <div class="w-96 lg:w-80 dark:bg-gray-950 dark:text-white bg-white rounded-xl shadow-md p-2 border-4">
            <div class="border p-4 rounded-lg">
                <h2 class="text-xl font-semibold">Fully Responsive</h2>
                <p class="mt-3">All Blocks and components are fully responsive. ensuring that your website or web app looks great on any device.</p>
            </div>
        </div>
        <div class="w-96 lg:w-80 dark:bg-gray-950 dark:text-white bg-white rounded-xl shadow-md p-2 border-4">
            <div class="border p-4 rounded-lg">
                <h2 class="text-xl font-semibold">Customizable</h2>
                <p class="mt-3">NgUI is highly customizable, allowing you to tailor the look and feel of your website to your specific needs</p>
            </div>
            
        </div>
        <div class="w-96 lg:w-80 dark:bg-gray-950 dark:text-white bg-white rounded-xl shadow-md p-2 border-4">
            <div class="border p-4 rounded-lg h-full">
                <h2 class="text-xl font-semibold">Modern and accessible</h2>
                <p class="mt-3">NgUI is modern and accessible, ensuring usability for everyone.</p>
            </div>  
        </div>
        <div class="w-96 lg:w-80 dark:bg-gray-950 dark:text-white bg-white rounded-xl shadow-md p-2 border-4">
            <div class="border p-4 rounded-lg h-full">
                <h2 class="text-xl font-semibold">Full angular support</h2>
                <p class="mt-3">fully Designed for angular support standalone components since angular v16+</p>
            </div>
        </div>
        <div class="w-96 lg:w-80 dark:bg-gray-950 dark:text-white bg-white rounded-xl shadow-md p-2 border-4">
            <div class="border p-4 rounded-lg h-full">
                <h2 class="text-xl font-semibold">Efficient design</h2>
                <p class="mt-3">Designed to save your time when designing website and web app with angular</p>
            </div>
        </div>
        <div class="w-96 lg:w-80 dark:bg-gray-950 dark:text-white bg-white rounded-xl shadow-md p-2 border-4">
            <div class="border p-4 rounded-lg h-full">
                <h2 class="text-xl font-semibold">Dark mode</h2>
                <p class="mt-3">We've included a support for darkmode, allowing your users to light and dark themes with ease</p>
            </div>
        </div>
    </div>
</section>
    
