<main class="w-screen p-4 lg:p-8">
    <section class="p-4">
        <div class="p-1 border-4 w-full  rounded-xl bg-gray-50 dark:bg-gray-900 dark:border-gray-950">
            <div class="border rounded-lg p-4 lg:p-8 dark:text-white text-gray-900 dark:border-gray-950">
                <h1 class="text-2xl lg:text-4xl scale-y-110 font-bold">Free <span class="bg-gradient-to-r from-blue-600 to-red-600  text-transparent bg-clip-text">Angular/Tailwindcss</span> Blocks</h1>
                <p class="mt-5">Fast Development with ngUI blocks, improve your creativity with our UI design</p>
                <span class="mt-5 text-sm inline-block bg-white border p-2 px-3 rounded-full">All Components</span>
            </div>
        </div>
    </section>
    <section class="flex justify-center">
        <div class="dark:text-white mt-10 grid gap-4 md:grid-cols-2 lg:grid-cols-3">
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Hero section</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">service & Features</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Logo Cloud</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Team</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Login</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Content</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Progress Bar</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Carroussel</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">button</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Footer</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Pricing</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Metrics</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Testimonials</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
            <a class="group hover:cursor-pointer w-96 lg:w-80 p-2">
              <div class="h-48 border bg-gray-100 rounded-md">
        
              </div>
              <div class="p-2 flex justify-between">
                <p class="group-hover:text-blue-600">Portfolio</p>
                <a href="" class="group-hover:hidden ">3</a>
                <a href="" class="hidden group-hover:block text-blue-600">-voir-</a>
              </div>
            </a>
          </div>
          
    </section>
</main>