<main class="w-screen p-6">
    <nav class="border-b p-3">
        <ul class="flex flex-nowrap flex-shrink overflow-x-scroll lg:overflow-hidden">
            <li><a routerLink="../hero-section" routerLinkActive="active" class="active:bg-blue-600 visited:bg-red-600">Hero-section</a></li>
            <li><a routerLink="" class="ml-5">Service & Feature</a></li>
            <li><a routerLink="" class="ml-5">Logo Cloud</a></li>
            <li><a routerLink="" class="ml-5">Team</a></li>
            <li><a routerLink="" class="ml-5">Login</a></li>
            <li><a routerLink="" class="ml-5">Content</a></li>
            <li><a routerLink="" class="ml-5">Progress Bar</a></li>
        </ul>
    </nav>
</main>
