<section class="bg-red-950 dark:bg-gray-900">
    <div class="container grid grid-cols-2 lg:grid-cols-4 p-4 mx-auto text-white">
        <div>
            <h2 class="font-semibold mt-5">Guide</h2>
            <a class="mt-8 block  text-gray-300">Get Started</a>
        </div>
        <div>
            <h2 class="font-semibold mt-5">Ressources</h2>
            <a class="mt-8 block  text-gray-300">Blog</a>
            <a class="mt-4 block  text-gray-300">Blocks</a>
            <a class="mt-4 block  text-gray-300">Templates</a>
        </div>
        <div>
            <h2 class="font-semibold mt-5">Community</h2>
            <a class="mt-8 block  text-gray-300">Github</a>
            <a class="mt-4 block  text-gray-300">Youtube</a>
            <a class="mt-4 block  text-gray-300">LinkedIn</a>
        </div>
        <div>
            <h2 class="font-semibold mt-5">Contact us</h2>
            <a class="mt-4 block  text-gray-300">Get in touch </a>
            <a class="mt-4 block  text-gray-300">likeur.off@gmail.com</a>
        </div>
    </div>
    <div class="container mx-auto mt-5 border-t border-white/30 p-4 text-white flex justify-between">
        <p class="text-gray-300">&copy; NgUI 2023 </p>
        <p><span>Proudly made in </span><span class="font-semibold">DR Congo</span></p>
    </div>

</section>
