<app-block-nav class="sticky top-0 block"/>
<section class="p-8 flex w-screen">
    <div class="w-full">
        <div class="flex justify-between">
            <h1 class="font-semibold text-xl">Saas hero section</h1>
            <div class="mr-3">
                <button>Code</button>
                <a href="" class="ml-3">Customize</a>
            </div>
        </div>
        <div class="mt-5 border rounded-3xl mr-2">
            <div class="h-[90vh]">
                <div class="p-2 border-b flex justify-between items-center">
                    <div class="flex items-center">
                        <span class="bg-gray-700 block h-3 w-3 ml-1 rounded-full"></span>
                        <span class="bg-gray-700 block h-3 w-3 ml-1 rounded-full"></span>
                        <span class="bg-gray-700 block h-3 w-3 ml-1 rounded-full"></span>
                        <span class="ml-4 border px-2 rounded-full p-1">Preview</span>
                    </div>
                    <div class="flex">
                        <button class="bg-blue-600 text-white p-1 rounded-xl">lg</button>
                        <button class="bg-blue-600 text-white p-1 ml-2  rounded-xl">md</button>
                        <button class="bg-blue-600 text-white p-1 ml-2  rounded-xl">sm</button>
                    </div>
                    <div>
                        <button>dmode</button>
                    </div>
                </div>
                
                <div class="overflow-scroll">
                    <app-footer1 />
                </div>
            </div>
        </div>
    </div>
</section>