<div class="flex flex-col items-center justify-center h-screen ">
  <img src="../assets/img/NG.png" width="200" alt="">
  <h1 class="w-80 text-center lg:w-96">NgUi a UI set of Building blocks Components for Angular, styled with tailwindcss</h1>
  <p>in Progress ... </p>
  <a href="https://github.com/Likeur/ngUI" class="text-2xl bg-white shadow-md rounded-full h-8 w-8 flex justify-center items-center mt-5"><i class='bx bxl-github'></i></a>
  <p class="absolute bottom-10 text-gray-500">Design by Likeur off </p>
</div>



<router-outlet></router-outlet>
