<section class="p-4 overflow-hidden">
    <div class="container p-2 flex justify-between items-center bg-white rounded-lg shadow-lg mx-auto mt-4 lg:mt-6">
        <div>
            <a><img src="../../../../assets/img/ng ui.png" width="60" alt=""></a>
        </div>
        <div >
            <nav id="nav-bar" class="absolute z-30 translate-x-[1000px] lg:-translate-x-0 flex flex-col w-full h-screen lg:h-min lg:w-min top-0 left-0 p-4 bg-white lg:bg-transparent duration-500 lg:flex-row lg:relative">
                <a>Home</a>
                <a class="mt-5 lg:mt-0 lg:ml-3">Features</a>
                <a class="mt-5 lg:mt-0 lg:ml-3">Blocks</a>
                <a class="mt-5 lg:mt-0 lg:ml-3">Templates</a>
            </nav>
        </div>
        <div class="flex items-center">
            <a href="https://github.com/Likeur/ngUI" class="text-2xl bg-white h-8 w-8 flex justify-center items-center"><i class='bx bxl-github'></i></a>
            <a href="https://github.com/Likeur/ngUI" class="text-2xl bg-white h-8 w-8 flex justify-center items-center"><i class='bx bx-sun'></i></a>
            <button (click)="isOpenNav()" class="flex flex-col z-50 ml-2 lg:hidden">
                <span id="barUn" class="inline-block h-0.5 rounded-full w-6 duration-300 bg-red-700 "></span>
                <span id="barDeux" class="inline-block h-0.5 rounded-full w-6 duration-300 bg-red-700 mt-2"></span>
            </button>
        </div>
    </div>
</section>
