<section class="p-4 overflow-hidden">
    <div class="container z-50 p-2 flex justify-between items-center bg-white rounded-lg shadow-lg dark:shadow-red-700/10 mx-auto mt-2 lg:mt-4 dark:bg-gray-900 duration-500">
        <div>
            <a routerLink=""><img src="../../../../assets/img/ng ui.png" width="60" alt=""></a>
        </div>
        <div id="nav-bar" class="absolute left-0 w-screen top-0 z-50 -translate-x-[100rem] lg:relative lg:-translate-x-0  lg:w-min duration-500 lg:block">
            <nav  class="absolute z-50 flex flex-col w-full overflow-hidden h-screen lg:h-min lg:w-min top-0 left-0 p-6 lg:p-2 bg-white lg:dark:bg-transparent dark:bg-gray-900 dark:text-white lg:bg-transparent duration-500 lg:flex-row lg:relative">
                <a routerLink="" class=" text-xl lg:text-sm hover:text-blue-600 cursor-pointer ">Home</a>
                <a routerLink="/block" class="mt-5 text-xl lg:text-sm hover:text-blue-600 cursor-pointer  lg:mt-0 lg:ml-3">Blocks</a>
                <a routerLink="/templates" class="mt-5 text-xl lg:text-sm hover:text-blue-600 cursor-pointer  lg:mt-0 lg:ml-3">Templates</a>
                <a routerLink="/guide" class="mt-5 text-xl lg:text-sm hover:text-blue-600 cursor-pointer  lg:mt-0 lg:ml-3">Docs</a>
            </nav>
        </div>
        <div class="flex items-center">
            <a href="https://github.com/Likeur/ngUI" class="text-2xl text-blue-950 bg-transparent h-8 w-8 flex justify-center items-center dark:text-white duration-300"><i class='bx bxl-github'></i></a>
            <button (click)="isDarkmode()" id="darkmode" class="text-2xl text-blue-950 bg-transparent h-8 w-8 flex justify-center duration-300 dark:text-yellow-400 items-center"><i id="darkmodeicon" class='bx bx-sun'></i></button>
            <button (click)="isOpenNav()" class="flex flex-col z-50 ml-2 lg:hidden">
                <span id="barUn" class="inline-block h-0.5 rounded-full w-6 duration-300 bg-red-700  dark:bg-white"></span>
                <span id="barDeux" class="inline-block h-0.5 rounded-full w-6 duration-300 bg-red-700 mt-2 dark:bg-white"></span>
            </button>
        </div>
    </div>
</section>
